K6_WEB_DASHBOARD=true
K6_WEB_DASHBOARD_PERIOD=5s
K6_WEB_DASHBOARD_EXPORT=/reports/report.html
K6_PROMETHEUS_RW_SERVER_URL=PROMETHEUS_BASE_URL/api/v1/write
K6_PROMETHEUS_RW_STALE_MARKERS=true
K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM=true
K6_PROMETHEUS_RW_PUSH_INTERVAL=5s